:root {
  --prime: #222;
  --text: #333;
  --rev-text: #EEE;
  --accent: #2E9CCA;
  --bg: #EEE;
}
body {
  font-family: "Lato", sans-serif;
  height: 100%
  color: #111;
  line-height: 1.8;
  background-color: #ECE2D0;
}
i.fas {
  padding: 0 .33em;
}

/*nav styles*/
.topnav {
  margin-top: -.25rem;
  padding-bottom: .5rem;
  background-color: #30343F;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
nav a {
  position: relative;
  top: 4px;
  text-align: center;
  padding: .75em;
  margin: auto 0;
  color: #f2f2f2;
  transition: color 250ms ease-in-out;
  text-decoration: none;
}
nav a:hover {
  color: #ECE2D0;
  cursor: pointer;
}
.label {
  font-size: 1rem;
}
nav a.trigram {
  display: none;
  text-decoration: none;
  font-size: 2rem;
}
/*Mobile Nav*/
@media screen and (max-width: 767px) {
  .topnav a, .topnav span {display: none;}
  .topnav a.trigram {display:inherit; position:absolute; right:4%; font-size:2em; padding: .25em; background:var(--prime);}
  .topnav {margin-top: -4.5em}
}

@media screen and (max-width: 767px) {
  .topnav.responsive {align-items: center;}
  .topnav.responsive a, .topnav.responsive span {display:inherit;}
  .topnav.responsive a:first-child {margin-top:1em;}
  .topnav.responsive a:not(:last-child) {display:inherit; padding-top:1em;}
  .topnav.responsive a.more {margin-bottom: 1em;}
  .topnav.responsive a.trigram {visibility:hidden; transition:none;}
  .topnav.responsive a.trigram:after {content:'\000D7'; visibility:visible; text-indent: -.5em;}
}

@media screen and (min-width: 768px) {
  .topnav {display: flex; flex-direction: row; justify-content: space-around;}
}
/*slideshow styles*/
.slideshow {
  background-color: #f2f2f2;
  padding: .5rem;
}
.slideshow-wrapper {
  position: relative;
  margin: auto;
  margin-top: 2em;
  max-width: 1880px;
}
.slideshow-wrapper img {
  width: 100%;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text-center {
  text-align: center;
}
.captiontext {
  background: rgba(0,0,0,0.4);
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.indicator {
  cursor:pointer;
  height: auto;
  width: 24%;
  margin: 0 2px;
  background-color: #CCC;
  display: inline-block;
  transition: all 250ms ease-in-out;
  opacity: .5;
}
.indicator img {
  width: 100% !important;
}
.active, .indicator:hover {
  opacity: 1;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 767px) {
  .slideshow {display: none;}
}

/*article styles*/
.main-grid {
  margin-top: 3.5rem;
  padding: .5rem;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 550px) {
  .main-grid {grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .main-grid {grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .main-grid {grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 1280px) {
  .main-grid {grid-template-columns: repeat(4, 1fr);}
}


.main-grid-item {
  border-radius: 4px;
  padding: .5em;
  background-color: #f2f2f2;
}
.thumb {
  padding-bottom: 56%;
  background-size: cover;
  background-position: center center;
  border-radius: 4px 4px 0 0;
}

.one .thumb{background-image: url('../img/nyu.jpg');}
.two .thumb{background-image: url('../img/deer.jpg');}
.three .thumb{background-image: url('../img/zion2.jpg');}
.four .thumb{background-image: url('../img/market.jpg');}
.five .thumb{background-image: url('../img/horses.jpg');}
.six .thumb{background-image: url('../img/ocean-city.jpg');}
.seven .thumb{background-image: url('../img/philly.jpg');}
.eight .thumb{background-image: url('../img/pier.jpg');}
.nine .thumb{background-image: url('../img/river.jpg');}
.ten .thumb{background-image: url('../img/san-diego.jpg');}
.eleven .thumb{background-image: url('../img/sunset-cliff.jpg');}
.twelve .thumb{background-image: url('../img/zion.jpg');}

.card-content {
  padding: 0 .5em .7em .5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-title {
  margin: 1rem 0 0 0;
  align-self: center;
  color: #010101;
}
.card-text {
  font-size: .80em;
  line-height: 1.2;
  align-self: flex-start;
  color: #010101;
}
button.card-more {
  background: transparent;
  padding: .45em .7em .4em .7em;
  border-radius: 200px;
  font-size: .7em;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
}
button.card-more, button.card-more:visited {
  color: #010101;
  border: 1.5px solid #111;
  transition: all 250ms ease-in-out;
}
button.card-more:hover, button.card-more:active {
  color: #DEB887;
  border-color: #DEB887;
}
/*modal styles*/
.modal {
   display: none;
   position: fixed;
   z-index: 1100;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(10, 10, 10, .4);
}
.modal-content {
   background-color: #f2f2f2;
   color: #010101;
   margin: 1rem auto;
   padding: 1em;
   width: 92%;
   border-radius: 4px;
   animation: fadein .3s ease-in-out;
}
@keyframes fadein {
  from{transform:scale(.1);} /*-- modal grows from very small to full size--*/
}
.close {
   color: #111;
   font-size: 2.5em;
   font-weight: bold;
   position: absolute; /*-- always at the top right of the modal --*/
   top: 5px;
   right: 4.25%;
   transition: all .2s ease-in;
   text-shadow: 2px 2px 5px #FAFAFA,
               -2px -2px 5px #FAFAFA,
               2px -2px 5px #FAFAFA,
               -2px 2px 5px #FAFAFA;
}
.close:hover,
.close:focus {
   color: #DEB887;
   text-decoration: none;
   cursor: pointer;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr; /*-- default modal grid (for mobile screens)--*/
  grid-gap: 2em;
}
.eg-text {
  align-self: center;
}
.eg-text h3 {
  margin-top: 0;
  padding-top: 0;
}
.modal-body img {
  margin-bottom: 1.5em;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1280px) {
  .modal-body {grid-template-columns: 7fr 5fr;}

}
/*footer styles*/
footer {
  background-color: #30343F;
  padding: .25rem;
  color: #f2f2f2;
  text-align: center;
}
